.pio
.idea
.DS_Store
.vscode
lib/EpdFont/fontsrc
*.generated.h
.vs
build
**/__pycache__/
/compile_commands.json
/.cache
.gleb_version_counter
skill/crosspoint-quizlet-sync/kindle-device/vocab_sync.conf
